@import "tailwindcss";

@source "Styles/";

:root {
  --yellow-chalk: 250, 214, 42;
  --green-chalk: 120, 220, 150;
  --blue-chalk: 110, 200, 255;
}

@theme {
  --color-blackboard: rgb(46, 37, 34);
  --color-darkboard: rgb(32, 26, 24);
  --color-yellow-chalk: rgb(var(--yellow-chalk));
  --color-white-chalk: rgb(245, 245, 245);
  --color-blue-chalk: rgb(var(--blue-chalk));
  --color-purple-chalk: rgb(190, 140, 255);
  --color-green-chalk: rgb(var(--green-chalk));
  
  --color-green-chalk-dark: rgb(80, 170, 110);
  --color-purple-chalk-dark: rgb(140, 90, 200);
  --color-blue-chalk-dark: rgb(70, 150, 200);
  --color-white-chalk-dark: rgb(200, 200, 200);
  --color-yellow-chalk-dark: rgb(200, 170, 30);
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}