API_URL=http://localhost:3000
BACKEND_ORIGIN=https://your-backend-domain.com
GIPHY_API_KEY=your_giphy_api_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here
PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key_here

PUBLIC_PORTFORLIO_URL=your_portfolio_url
