@reference "../index.css";

.milestone {
    width: 1rem;
    height: 1rem;
    accent-color: var(--color-yellow-chalk);

    &::after {
        @apply absolute left-0 right-0 w-full h-full bg-orange-chalk rounded-full opacity-0;
        content: "";
    }
}

.milestone.checked::after {
    @apply opacity-75 animate-ping;
}

.milestone-bar.expandable {
    &:hover, &:focus, &:active {
        @apply not-sm:[&>div>span]:translate-x-0 not-sm:[&>div]:pointer-events-auto not-sm:[&>div>span]:opacity-100 not-sm:[&>div>span]:bg-orange-chalk bg-orange-chalk;
    }
}